<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="human" name="h1" class="com.khadri.spring.core.Human">
    <property name="heart">
      <bean id="heart" class="com.khadri.spring.core.Heart">
        <property name="rythmic" value="some sound"/>
      </bean>
    </property>
  </bean>






</beans>